/****************************************
    CSS
****************************************/

/***** Color variables *****/
:root {
  --grey: rgba(1,1,1,0.15);
  --primary: orange;
  --bck_header: rgba(51,52,68,1);
  --bck_top_bar: rgba(37,37,53,1);
  --primary_hover: rgba(255, 166, 0, 0.562);
  --breadcrumb_hover: rgba(226,234,247,1);
  --primary_hue: 237;
  --primary_saturation: 14%;
  --primary_luminosity: 28%;
  --primary_color: var(--primary_hue) var(--primary_saturation) var(--primary_luminosity);
  --primary_text: hsl(0 100% 100%);
  --secondary_hue: 225;
  --secondary_saturation: 100%;
  --secondary_luminosity: 69%;
  --secondary_color: var(--secondary_hue) var(--secondary_saturation) var(--secondary_luminosity);
  --secondary_color_pressed: var(--secondary_hue) 16.62% 33.87%;
  --secondary_text: hsl(0 100% 100%);
  --bck_color: var(--primary_color);
  --txt_color: var(--primary_text);
  --pressed_color: var(--primary_hue) var(--primary_saturation) 35%;
}
.dalim-modal #drupal-modal {
  padding: 0 !important;
}
/***** Icon admin menu *****/
#adminmenu a.toplevel_page_dalim_plugin div.wp-menu-image.dashicons-before {
  margin-top: 2px;
}

/***** Window *****/
.components-modal__screen-overlay {
  background-color: rgba(0,0,0,.95);
}
/* Contains the Iframe and the modal */
.dalim_container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 90%;
  height: 90%;
  max-height: 90%;
}


.dalim_container .components-modal__header {
  background: var(--bck_top_bar);
}
/* Contains button */
.dalim_container .components-button.has-icon {
  padding: 0px;
  margin: 0px;
  height: 24px;
  width: 24px;
  left: 0px;
  color: white;
  border-radius: 0px;
}


/* Content of the modal */
.dalim_container .components-modal__content {
  position: relative;
  padding: 0px;
  margin-top: 0px;
}

/* Header of the modal */
.dalim_container .components-modal__header {
  /* display: block; */
  /* position:absolute; */
  /* top:0px;
    right:0px;
    left:0px;
    width:48px; */
  height: 24px;
  padding: 0px;
  border: 0px;
}

/* Iframe that display the page */
.dalim_responsive_iframe {
  position: absolute;
  top: 0px;
  padding-top: 24px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* Body */
.dalim_responsive_iframe body {
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
._stopScroll {
  overflow: hidden;
}


/* Background display */
.dalim_display {
  background-color: white;
  font-size: 14px;
}

.dalim_display *,
.dalim_display *:before,
.dalim_display *:after {
  box-sizing: border-box;
}

.dalim_display * {
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
}

/***** Header bar *****/
/* ES menu bar container */
.dalim_navigation {
  /* position: fixed;  */
  position: sticky;
  width: 100%;
  top: 0px;
  left: 0px;
  transition: top 0.3s;
  z-index: 1000;
}

/* Display first header */
.dalim_folder_header {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bck_header);
}

/* Left side of the header : return button + folder name */
.dalim_header_left {
  display: flex;
  flex-direction: row;
  color: white;
  text-shadow: 0px 1px 1px rgba(1,1,1,0.4);
  position:relative;

}

/* Return button */
.dalim_back {
  background: hsl(var(--secondary_color));
  color: var(--txt_color);
  margin: 0.25rem;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 0px;
  font-size: 1.5rem;
  text-shadow: 0px 1px 1px rgba(1,1,1,0.4);
  margin: 0px;
  box-shadow: 0 0 0 0rem rgba(255,255,255,0);
}

.dalim_back:active {
  background: hsl(var(--secondary_color_pressed));
}

button.active {
  animation: pulse 700ms;
  box-shadow: 0 0 0 0.5rem rgba(255,255,255,0);
}


.dalim_back._selected {
  background: hsl(var(--secondary_color));
}

/* Name of the folder we are in */
.dalim_folder_name {
  position:absolute;
  left:3rem;
  right:0px;
  color: var(--primary_color);
  /* font-size: 1.25rem; */
  font-weight: bold;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0 0.5rem;
  white-space: nowrap;
  cursor:pointer;
  line-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Global search bar */
.dalim_global_search_bar {
  text-align: center;
  background-color: var(--bck_header);
}

/* Global search input */
#global_search {
  border: 0px;
  line-height: 2rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Quick filter bar*/
.dalim_search_bar {
  /* background:rgba(255,255,255,0.8); */
  display: flex;
  justify-content: center;
  height: 48px;
  justify-content: center;
  align-items: center;
}

/* Quick filter input */
.dalim_navigation #search {
  -webkit-appearance: textfield;
  border-radius: 1.5rem;
  background: rgba(255,255,255,0.8);
  padding: 0px;
  min-width: 180px;
  text-align: center;
  box-sizing: content-box;
  height: 24px;
  margin-right: 0.5rem;
  border: 1px solid rgba(1,1,1,0.4);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dalim_navigation #search {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/***** Modal folder and image gallery *****/
/* Display the folders and the assets */
.dalim_folders_assets {
  min-height: 80vh;
}

/* Gallery title folders */
.dalim_gallery_title {
  line-height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
  position: sticky;
  top: 0rem;
  background-color: rgba(255, 255, 255, 1);
}

/* Number of assets */
.dalim_assets_nbr {
  margin-left: 4px;
  font-weight: bold;
  font-size: 0.825rem;
}

/* Wrap the folders and the assets */
.dalim_wrapper_asset,
.dalim_wrapper_folder {
  grid-gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 30px;
  /* padding: 48px 0px;
    border-bottom: 1px solid var(--grey); */
}

/* Change the number of column depending on screen size */
@media(max-width: 767px) {
  .dalim_wrapper_asset,
  .dalim_wrapper_folder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 414px) {
  .dalim_wrapper_asset,
  .dalim_wrapper_folder {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* folder*/
.dalim_subfolder {
  cursor: pointer;
  background-color: #f0f3f4;
  min-height: 56px;
  border-radius: 0.5rem;
  border: 0px;
  text-align: left;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: black;
  font-size: 12px;
  font-weight: bold;
  word-break: break-all;
  box-shadow: 0px 2px 3px -2px rgb(1 1 1 / 50%);
}


.dalim_subfolder:active {
  color: black;
}

/* Empty folder */
.dalim_empty_folder {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

/* Folder image */
.dalim_folder_image {
  font-size: 3em;
  margin-right: 0.5rem;
  color: hsl(var(--primary_color));
}
/***** Gallery image *****/
/* Thumbnail */
.dalim_thumbnail {
  cursor: pointer;
  transition: box-shadow 120ms;
  margin: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f3f4;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 3px -2px rgb(1 1 1 / 50%);
}

/* Gallery image thumbnail hover */v .dalim_thumbnail:hover {
  box-shadow: 0 0 8px rgba(33,33,33,.5);
}

/* Image wrapper */
.dalim_img_wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

/* Size of the thumbnail image*/
.dalim_thumbnail_img {
  /* max-height: 300px;
    max-width: 300px; */
  max-height: 100%;
  max-width: 100%;
  box-shadow: 0px 3px 5px -2px rgba(1,1,1,0.5);
}

/* Asset informations */
.dalim_infos {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  background: #fefefe;
}

/* Image title */
.dalim_title_asset {
  font-size: 0.825rem;
  font-weight: bold;
  text-align: center;
  padding: 0.25rem;
  word-break: break-word;
}

/* Spacer */
.dalim_spacer {
  flex: 222;
}

/* Image type */
.dalim_type_asset {
  font-size: 0.725rem;
  text-align: center;
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
}

/***** Modal image *****/
/* Display background modal image */
.dalim_modal {
  display: none; /* Don't put that away */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(1,1,10,0.92);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  position: relative;
  padding: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  background: #353545;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dalim_modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,10, 0.75);
  }
}

/* Background for the modal image */
/* .dalim_modal_display {
    background-color: white;
    margin: auto;
    border-radius:8px;
    width:90%;
    height:90%;
    overflow:hidden;
    position:relative;
    display: grid;
    box-shadow: 0px 4px 16px 0px rgba(1,1,1,0.6);
    grid-template-columns: 4fr 1fr;
    grid-template-rows:  1fr auto;
    grid-template-areas:
          "image  infos"
          "image  tool";
}
@media only screen and (max-width: 1600px) {
    .dalim_modal_display  {
        grid-template-columns: 3fr 1fr;
    }
}
@media only screen and (max-width: 1000px) {
    .dalim_modal_display  {
        grid-template-columns: 2fr 1fr;
    }
}


@media only screen and (max-width: 700px) {
    .dalim_modal_display  {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
        grid-template-areas:
          "image"
          "infos"
          "tool";
    }
} */

/* Display modal image */

.dalim_modal_image_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 24px;
}
.dalim_modal_image {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.dalim_modal_infos_wrapper {
  position: relative;
  width: 384px;
  height: 100%;
  border: 1px solid rgba(1,1,1,0.2);
  display: flex;
  flex-direction: column;
}

.modal_info_box {
  background: #454555;
  padding: 1rem 1rem 0.5rem 1rem;
  overflow: auto;
  display: grid;
  /* width:384px; */
  grid-template-columns: 128px 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0.25rem;
  height: 100%;
  border-top-right-radius: 0.5rem;
}
.modal_option_box {
  padding: 0.5rem 1rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 0.25rem;
  border-bottom: 1px solid rgba(1,1,1,0.3);
}

.form-item {
  margin-top: 0px !important;
}

.modal_button_box {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: row;
}

/*------prev - next button----*/
#dalim_previous,
#dalim_next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 60px;
  padding: 16px;
  text-align: center;
  margin-top: -25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: 10000;
  background: none;
  border: none;
}


#dalim_next {
  left: unset;
  right: 0px;
  border-radius: 3px 0 0 3px;
}

#dalim_previous:hover,
#dalim_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dalim_changed_null {
  pointer-events: none !important;
  background: none !important;
  color: transparent !important;
}

@media screen and (max-width: 768px) {
  .modal_content {
    flex-direction: column;
  }
  .dalim_modal_infos_wrapper {
    height: 50%;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .modal_option_box {
    grid-template-columns: 1fr;
  }
}

/* .dalim_modal_infos_wrapper {
    grid-area: infos;
    background: #fcfcfc;
    border-left:1px solid #eee;
    color: black;
    overflow:hidden;
    display:grid;
    grid-template-columns: minmax(128px, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
          "title"
          "data"
          "choice";
} */

/* .dalim_modal_title{
    grid-area: title;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #eee;
    word-break: break-all;
}

.dalim_caption_data{
    grid-area: data;
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(min-content, max-content);
    row-gap: 0.25rem;
    column-gap: 0.5rem;
    padding:0.5rem 1rem;
    overflow:auto;
} */

.miniTitle {
  color: white;
  padding: 0.35rem 0 0.35rem 0.25rem;
  font-weight: bold;
  font-size: 0.675rem;
  word-break: break-word;
}

.miniValue {
  color: white;
  background: #252535;
  border-radius: 4px;
  padding: 0.35rem 0.25rem;
  font-size: 0.675rem;
  word-break: break-all;
  width: auto;
  border: 0px solid red;
}

/* .miniValue:before{
    content: ":";
    position: absolute;
    left: 0px;
    margin-right:0.25rem;
} */

/* .dalim_form_media_choice{
    grid-area: choice;
    background:var(--bck_header);
    color:#fff;
    display:grid;
    grid-template-columns: auto ;
    row-gap: 0.25rem;
    column-gap: 0.5rem;
    padding: 0.25rem 1rem;
    align-items: center;
    border-bottom:1px solid rgba(1,1,1,0.3);
}

.dalim_modal_tool_bottom{
    grid-area: tool;
    background:var(--bck_header);
    color:white;
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
    border-left:1px solid #eee;
}
@media only screen and (max-width: 700px) {
    .dalim_modal_title{
        display:none;
    }
    .dalim_caption_data{
        display:none;
    }
    .dalim_modal_infos_wrapper  {
        grid-template-columns: 1fr;
        grid-template-rows:  1fr ;
        grid-template-areas:
            "choice";
    }
    .dalim_form_media_choice{
        grid-template-columns: auto 1fr;
    }
} */

/* .dalim_caption_place_button, .dalim_caption_dl_button {
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
    justify-content: center;
} */

/* .dalim_caption_form_link {
    padding-bottom: 10px;
} */


.dalim_form_media_dl {
  display: flex;
  flex-direction: row;
}

.dalim_form_media_link {
  display: flex;
  flex-direction: row;
}


/* .dalim_caption_form_dl {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
} */

/* Close button */
/* .dalim_close {
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
} */

/* Copy button */
.dalim_copy_button {
  font-size: 0.725rem;
  padding: 0.35rem 0.625rem;
  margin: 0.25rem 0.15rem;
  background-color: hsl(var(--primary_color));
  color: var(--primary_text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#copied_msg {
  margin-left: 5px;
  margin-right: 5px;
  color: green;
  font-size: 13px;
  align-self: center;
}

.dalim_warning_size {
  color: red;
  border-left: solid red 4px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Copy button hover */
.dalim_copy_button:hover {
  background-color: hsl(var(--pressed_color));
  color: var(--secondary_text);
}
._highlight,
._highlight:hover {
  background-color: hsl(var(--secondary_color));
  color: var(--secondary_text);
}

/* Close button hover */
/* .dalim_close:hover, .dalim_close:focus {
    color: #f8b222;
    cursor: pointer;
} */

/* ? */
@media only screen and (max-width: 700px) {
  .dalim_modal_image {
    width: 100%;
  }
}

/* Forms */
/* .form{
    margin:0px;
    padding:0px;
} */

/***** Breadcrumb *****/
/* Breadcrumb  */
.dalim_breadcrumb_bar {
  /* position: fixed; */
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  border-top: 1px solid rgba(1,1,1,0.1);
  height: 2rem;
  font-size: 0px;
  left: 0;
  overflow: auto;
  white-space: nowrap;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .dalim_breadcrumb_bar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

/* Breadcrumb */
.dalim_breadcrumb {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

/* Bredcrumb button */

.dalim_breadcrumb button {
  display: inline-block;
  box-sizing: border-box;
  height: 2rem;
  min-width: 5rem;
  margin: 0px;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  padding: 0px 10px 0px 24px;
  background: #fff;
  position: relative;
  /* letter-spacing: 0.3px; */
  border: none;
  cursor: pointer;
  /* text-shadow: 0px 1px 2px rgb(1 1 1 / 33%); */
  font-size: 11px;
}

.dalim_breadcrumb:first-child button {
  padding: 0px 6px 0px 12px;
}
.dalim_breadcrumb button:active {
  color: black;
}

.dalim_breadcrumb button:before {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-width: 18px 0 18px 10px;
  border-style: solid;
  position: absolute;
  top: -1px;
  right: -10px;
  z-index: 2;
  content: "";
  border-color: transparent transparent transparent #ccc;
}
.dalim_breadcrumb button:after {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 18px 10px;
  position: absolute;
  top: -1px;
  right: -9px;
  z-index: 3;
  content: "";
  border-color: transparent transparent transparent #fff;
}

.dalim_breadcrumb:last-child button {
  pointer-events: none;
  color: var(--secondary_text);
  background: hsl(var(--secondary_color));
}

.dalim_breadcrumb:last-child button:after {
  border-color: transparent transparent transparent hsl(var(--secondary_color));;
}

.dalim_breadcrumb button:hover {
  background: var(--breadcrumb_hover);
}

.dalim_breadcrumb button:hover:after {
  border-color: transparent transparent transparent var(--breadcrumb_hover);
}

/***** Connexion Menu *****/
/***** Header *****/
/* Main <div> for the header */
.dalim_css_header {
  padding-top: 20px;
}

/* DALIM SOFTWARE logo */
.dalim_logo_header {
  display: inline-block;
  vertical-align: middle;
}

/* Company name */
.dalim_name_header {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}

/***** Admin menu *****/
/* Setting <div> */
.dalim_css_div {
  background-color: white;
  padding: 30px;
  margin-right: 20px;
  border: solid lightgray 1px;
}

/* Successful registration */
.dalim_register {
  background-color: white;
  border-left: solid #2db92d 4px;
  margin: 10px 20px 0px 0px;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
}

/* Failed registration */
.dalim_register_failed {
  background-color: white;
  border-left: solid #d62929 4px;
  margin: 10px 20px 0px 0px;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
}

/* Message display */
.dalim_display_message {
  background-color: white;
  border: solid lightgray 1px;
  margin: 10px 20px 0px 0px;
  padding: 10px;
  font-size: 14px;
}

/***** Settings *****/
/* Table */
#dalim_table {
  margin: 30px 0px 30px 0px;
}

.dalim_admin_buttons {
  display: flex;
  position: absolute;
  right: 0;
}

/* Form */
.dalim_form {
  font-size: 15px;
  padding-right: 50px;
}

/* Sign out button */
.dalim_button_signout {
  font-size: 15px;
  margin-top: -3px;
  padding: 10px;
  background-color: #ff5757;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Sign out button hover */
.dalim_button_signout:hover {
  background-color: #fc0606;
}

.dalim_button_update {
  font-size: 15px;
  margin-top: -3px;
  margin-right: 10px;
  padding: 10px;
  background-color: #6c8df7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#dalim_login_input_server {
  width: 310px;
}

/* Sign out button hover */
.dalim_button_update:hover {
  background-color: #3d68f5;
}

.dalim_button {
  font-size: 15px;
  margin-top: -3px;
  padding: 10px;
  background-color: #6c8df7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Sign out button hover */
.dalim_button:hover {
  background-color: #3d68f5;
}

.dalim_message_explanation {
  background-color: white;
  border-left: solid #ffb24d 4px;
  margin: 10px 20px 0px 0px;
  padding: 15px 10px 15px 10px;
  font-size: 15px;
}

/* Updated files */
.dalim_update {
  background-color: white;
  width: 48%;
  margin-top: 20px;
  padding: 10px;
  border-left: solid #6c8df7 4px;
}

.dalim_update_div {
  display: flex;
  margin-top: 10px;
  margin-left: -5px;
  /* justify-content:center;
    margin-top:20px */
}

.dalim_success {
  border-left: solid #2db92d 4px;
}

.dalim_update_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dalim_update_title {
  font-weight: bold;
}

/*animation bt*/
.dalim_bt {
  position: relative;
}
.dalim_bt:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  pointer-events: none;
}
.dalim_bt._active:after {
  animation: pulse 700ms;
  box-shadow: 0 0 0 0.5rem rgba(255,255,255,0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsl(var(--primary_color));
  }
}

.dalim_overlay {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.dalim_popup {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 40%;
  left: 25%;
  text-align: center;
}

.dalim_loading {
  width: 200px;
  height: 200px;
}
