/****************************************
    CSS
****************************************/

.dalim_main_field {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
}

.dalim_es_url {
  max-width: 90% !important;
}

.dalim_es_button_asset {
  margin-bottom: 40px !important;
}

.dalim_es_details .form-item {
  margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.dalim_preview_wrapper_field {
  float: left;
  height: 230px;
  width: 25%;
}

.dalim_preview_img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(245, 245, 245);
}

.dalim_fields_wrapper_field {
  margin-left: 30%;
}
.dalim_line_field {
  align-items: center;
  max-width: 100%;
}

.dalim-connection-test {
  color: red;
}
