@font-face {
  font-family: 'DALIM_ICON';
  src:  url('fonts/DALIM_ICON.eot?qlkmr4');
  src:  url('fonts/DALIM_ICON.eot?qlkmr4#iefix') format('embedded-opentype'), url('fonts/DALIM_ICON.ttf?qlkmr4') format('truetype'), url('fonts/DALIM_ICON.woff?qlkmr4') format('woff'), url('fonts/DALIM_ICON.svg?qlkmr4#DALIM_ICON') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DALIM_ICON' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-61140:before {
  content: "\e918";
}
.icon-611402:before {
  content: "\e919";
}
.icon-opaque-copy:before {
  content: "\e914";
}
.icon-transp-copy:before {
  content: "\e915";
}
.icon-curseur:before {
  content: "\e912";
}
.icon-calendar:before {
  content: "\e916";
}
.icon-folder2:before {
  content: "\e913";
}
.icon-colums:before {
  content: "\e90f";
}
.icon-colums2:before {
  content: "\e910";
}
.icon-colums3:before {
  content: "\e911";
}
.icon-split:before {
  content: "\e90d";
}
.icon-insertInto:before {
  content: "\e90e";
}
.icon-barcode2:before {
  content: "\e90b";
}
.icon-simluation3:before {
  content: "\e90c";
}
.icon-color_viewing2:before {
  content: "\e90a";
}
.icon-uni43:before {
  content: "\43";
}
.icon-bottom:before {
  content: "\e900";
}
.icon-top:before {
  content: "\e901";
}
.icon-delete3:before {
  content: "\64";
}
.icon-sign1:before {
  content: "\e907";
}
.icon-sign2:before {
  content: "\e908";
}
.icon-sign3:before {
  content: "\e909";
}
.icon-double_crop:before {
  content: "\e903";
}
.icon-double_mar:before {
  content: "\e904";
}
.icon-double_mark_no_gap:before {
  content: "\e905";
}
.icon-simple_crop:before {
  content: "\e906";
}
.icon-simple_mark_new:before {
  content: "\e902";
}
.icon-coverage:before {
  content: "\e629";
}
.icon-hMirror:before {
  content: "\e627";
}
.icon-vMirror:before {
  content: "\e628";
}
.icon-uni79:before {
  content: "\79";
}
.icon-simple_mark:before {
  content: "\e622";
}
.icon-simple:before {
  content: "\e623";
}
.icon-dbl:before {
  content: "\e624";
}
.icon-dbl_mark:before {
  content: "\e625";
}
.icon-dbl_gap_mark:before {
  content: "\e626";
}
.icon-line:before {
  content: "\e61f";
}
.icon-paragraph:before {
  content: "\e620";
}
.icon-rectangle:before {
  content: "\e621";
}
.icon-folder:before {
  content: "\66";
}
.icon-tool:before {
  content: "\24";
}
.icon-remove:before {
  content: "\72";
}
.icon-add:before {
  content: "\61";
}
.icon-pins:before {
  content: "\6e";
}
.icon-dbl2:before {
  content: "\62";
}
.icon-stack:before {
  content: "\52";
}
.icon-approve:before {
  content: "\41";
}
.icon-star2:before {
  content: "\75";
}
.icon-cog:before {
  content: "\71";
}
.icon-eye:before {
  content: "\22";
}
.icon-forward:before {
  content: "\4e";
}
.icon-backward:before {
  content: "\50";
}
.icon-first:before {
  content: "\4b";
}
.icon-last:before {
  content: "\45";
}
.icon-unchecked:before {
  content: "\25";
}
.icon-bubbles:before {
  content: "\26";
}
.icon-cogs:before {
  content: "\27";
}
.icon-radio:before {
  content: "\28";
}
.icon-round:before {
  content: "\29";
}
.icon-trim:before {
  content: "\4d";
}
.icon-bold:before {
  content: "\42";
}
.icon-italic:before {
  content: "\49";
}
.icon-page:before {
  content: "\53";
}
.icon-image:before {
  content: "\33";
}
.icon-sidebyside:before {
  content: "\3b";
}
.icon-uni31:before {
  content: "\31";
}
.icon-reject:before {
  content: "\32";
}
.icon-close:before {
  content: "\63";
}
.icon-open:before {
  content: "\6f";
}
.icon-wall:before {
  content: "\4f";
}
.icon-vignette:before {
  content: "\76";
}
.icon-minizoom:before {
  content: "\7a";
}
.icon-zoom+:before {
  content: "\5a";
}
.icon-zoom:before {
  content: "\73";
}
.icon-info:before {
  content: "\69";
}
.icon-portraitVign:before {
  content: "\67";
}
.icon-paysageVign:before {
  content: "\47";
}
.icon-user:before {
  content: "\78";
}
.icon-uni7F2:before {
  content: "\51";
}
.icon-uni6B:before {
  content: "\6b";
}
.icon-text:before {
  content: "\2a";
}
.icon-spinner:before {
  content: "\2b";
}
.icon-target:before {
  content: "\2c";
}
.icon-user2:before {
  content: "\34";
}
.icon-100:before {
  content: "\35";
}
.icon-fullscreen:before {
  content: "\37";
}
.icon-fullscreen2:before {
  content: "\38";
}
.icon-simple2:before {
  content: "\56";
}
.icon-pencil:before {
  content: "\65";
}
.icon-tampon:before {
  content: "\54";
}
.icon-layers:before {
  content: "\6c";
}
.icon-trash:before {
  content: "\70";
}
.icon-tags:before {
  content: "\6d";
}
.icon-uni21:before {
  content: "\21";
}
.icon-bullet:before {
  content: "\30";
}
.icon-check:before {
  content: "\23";
}
.icon-uni2E:before {
  content: "\2e";
}
.icon-picture:before {
  content: "\2f";
}
.icon-dblpage:before {
  content: "\44";
}
.icon-sidebysideV:before {
  content: "\36";
}
.icon-showPins:before {
  content: "\57";
}
.icon-userNew:before {
  content: "\59";
}
.icon-users:before {
  content: "\77";
}
.icon-uniF0B0:before {
  content: "\a7";
}
.icon-uni3F:before {
  content: "\3f";
}
.icon-uniF0C1:before {
  content: "\5b";
}
.icon-uni40:before {
  content: "\40";
}
.icon-uni3E:before {
  content: "\3e";
}
.icon-uniF10E:before {
  content: "\5d";
}
.icon-uniF10D:before {
  content: "\7b";
}
.icon-uniF107:before {
  content: "\b1";
}
.icon-uniF106:before {
  content: "\f106";
}
.icon-uniF102:before {
  content: "\7d";
}
.icon-uniF104:before {
  content: "\5e";
}
.icon-uniF105:before {
  content: "\7c";
}
.icon-uniF103:before {
  content: "\5c";
}
.icon-uniF101:before {
  content: "\60";
}
.icon-uniF100:before {
  content: "\5f";
}
.icon-uni4A:before {
  content: "\4a";
}
.icon-uni46:before {
  content: "\46";
}
.icon-uni48:before {
  content: "\48";
}
.icon-uni4C:before {
  content: "\4c";
}
.icon-uni55:before {
  content: "\55";
}
.icon-triangle-copy:before {
  content: "\7e";
}
.icon-uni74:before {
  content: "\74";
}
.icon-x:before {
  content: "\58";
}
.icon-photo:before {
  content: "\e600";
}
.icon-uni7F:before {
  content: "\e601";
}
.icon-uni80:before {
  content: "\e602";
}
.icon-uni81:before {
  content: "\e603";
}
.icon-uni82:before {
  content: "\e604";
}
.icon-uni68:before {
  content: "\e605";
}
.icon-uni83:before {
  content: "\e606";
}
.icon-uni84:before {
  content: "\e607";
}
.icon-uni85:before {
  content: "\e608";
}
.icon-uni87:before {
  content: "\e60a";
}
.icon-uni88:before {
  content: "\e60b";
}
.icon-uni89:before {
  content: "\e60c";
}
.icon-uni2D:before {
  content: "\e60d";
}
.icon-uni8A:before {
  content: "\e60e";
}
.icon-untitled:before {
  content: "\e618";
}
.icon-rectangle2:before {
  content: "\e61a";
}
.icon-rapporteur:before {
  content: "\e61c";
}
.icon-ruler:before {
  content: "\e61d";
}
.icon-surface:before {
  content: "\e619";
}
.icon-untitled2:before {
  content: "\e617";
}
.icon-colorpicker-eyedropper:before {
  content: "\e609";
}
.icon-radar:before {
  content: "\3d";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-stack2:before {
  content: "\3c";
}
.icon-star:before {
  content: "\e60f";
}
.icon-star22:before {
  content: "\e610";
}
.icon-arrow-right:before {
  content: "\e611";
}
.icon-arrow-down:before {
  content: "\e612";
}
.icon-stopwatch:before {
  content: "\e62b";
}
.icon-upload:before {
  content: "\e613";
}
.icon-download2:before {
  content: "\e61b";
}
.icon-heart:before {
  content: "\e614";
}
.icon-heart2:before {
  content: "\e615";
}
.icon-heart-broken:before {
  content: "\e616";
}
.icon-warning:before {
  content: "\e61e";
}
.icon-droplet:before {
  content: "\e917";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-rss:before {
  content: "\ea9b";
}
