{#
/**
 * @file
 * Default theme implementation for the DALIM ES assets.
 *
 * Available variables:
 * - url: The URL of the asset.
 * - type: The type of the asset, either "image", "video" or "application".
 * - href: The hyperlink to display for an image.
 * - alt: The alternative text to display for an image.
 * - width: The width of the asset.
 * - height: The height of the asset.
 * - logo: The PDF logo.
 */
#}

{% if url %}
  {% if type == 'image' %}
    <div>
      {% if href %}
        <a href="{{ href }}" target= "_blank">
          <image
            src="{{ url }}"
            alt="{{ alt }}"
            style="width: {{ width }}; height: {{ height }};"
          >
        </a>
      {% else %}
        <image
          src="{{ url }}"
          alt="{{ alt }}"
          style="width: {{ width }}; height: {{ height }};"
        >
      {% endif %}
    </div>
  {% elseif type == 'video' %}
    <div>
      <video 
        controls
        style="width: {{ width }}; height: {{ height }};"
        >
        <source
          src="{{ url }}"
          type="video/mp4"
        >
        </source>
      </video>
    </div>
  {% elseif type == 'application' %}
    <div style="display: inline-flex; align-items: center;">
      <image 
        src="{{ logo }}" 
        style="width: 32px; margin-right: 6px;"
      />
      <a href="{{ url }}" target= "_blank">
        {{ alt }}
      </a>
    </div>
  {% endif %}
{% endif %}